{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}


{% block body %}


    <div class="container">

		<h1 class="mt-4">Création d'une session </h1>

		<form name="session" method="post">

		{# <div class="form-group">
			{{ form_label(form.training) }}
			{{ form_widget(form.training) }}
			<div class="form-error">
				{{ form_errors(form.training) }}
			</div>
		</div> #}

		<div class="form-group">
			{{ form_label(form.nbPlaces) }}
			{{ form_widget(form.nbPlaces) }}
			<div class="form-error">
				{{ form_errors(form.nbPlaces) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.startDate) }}
			{{ form_widget(form.startDate) }}
			<div class="form-error">
				{{ form_errors(form.startDate) }}
			</div>
		</div>
        
        <div class="form-group">
			{{ form_label(form.endDate) }}
			{{ form_widget(form.endDate) }}
			<div class="form-error">
				{{ form_errors(form.endDate) }}
			</div>
		</div>

        


		<div class="form-group">
			{{ form_row(form._token) }}
		</div>

		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>

	</div>
</form>

{% endblock %}
