{% extends 'base.html.twig' %}

{% block title %}Détails d'une session{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Détails d'une session</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Colonne pour les stagiaires inscrits -->
                <div class="col-md-6">
                    <h3 class="card-title">Stagiaires inscrits à {{ session.training.nameTraining }}</h3>
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trainee in session.trainees %}
                                <tr>
                                    <td>{{ trainee.name }}</td>
                                    <td>{{ trainee.firstName }}</td>
                                    <td>{{ trainee.email }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('remove.trainee', { 'trainee': trainee.id, 'session': session.id }) }}" class="btn btn-danger">
                                            <span class="material-symbols-outlined">désinscription</span> 
                                        </a>
                                    </td>
                                    {% endif %}
                                    
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Aucun stagiaire inscrit à cette session.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Colonne pour les stagiaires non inscrits -->
                <div class="col-md-6">
                    <h3 class="card-title">Stagiaires non inscrits à {{ session.training.nameTraining }}</h3>
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trainee in nonInscrits %}
                                <tr>
                                    <td>{{ trainee.name }}</td>
                                    <td>{{ trainee.firstName }}</td>
                                    <td>{{ trainee.email }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('add.trainee', { 'trainee': trainee.id, 'session': session.id }) }}" class="btn btn-success">
                                            <span class="material-symbols-outlined">Inscription</span>
                                        </a>
                                    </td>
                                    {% endif %}
                                    
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Tous les stagiaires sont inscrits à cette session.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="{{ path('app_session') }}" class="btn btn-primary mt-3">Retour aux sessions</a>
        </div>
    </div>
</div>

{% endblock %}
