{% extends "base.html.twig" %}

{% block title %} Modifier un module{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification d'un module</h1>

		<form name="modul" method="post">

			<div class="form-group">
				{{ form_label(form.nameModul) }}
				{{ form_widget(form.nameModul) }}
				<div class="form-error">
					{{ form_errors(form.nameModul) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(form.category) }}
				{{ form_widget(form.category) }}
				<div class="form-error">
					{{ form_errors(form.category) }}
				</div>
			</div>


			<div class="form-group">
				{{ form_row(form._token) }}
			</div>

			<button type="submit" id="modul_submit" name="modul[submit]" class="btn btn-primary mt-4">Modifier un module</button>

			
		</form>
	</div>
	
</div>{% endblock %}