{% extends 'base.html.twig' %}

{% block title %}Les Stagiaires{% endblock %}

{% block body %}

<h2>Les Stagiaires</h2>

<!-- Barre de recherche -->
<form method="GET" action="{{ path('search.trainee') }}">
    <div class="input-group mb-3">
        <input type="text" name="term" class="form-control" placeholder="Rechercher un stagiaire" aria-label="Rechercher un stagiaire" aria-describedby="button-search">
        <button class="btn btn-outline-secondary" type="submit" id="button-search">Rechercher</button>
    </div>
</form>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('trainee.new')}}" class="btn btn-primary mb-3">
            Créer un stagiaire
        </a>
    {% endif %}

<div class="container mt-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Genre</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Ville</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
                <tr class="table-primary">
                    <th scope="row">{{ trainee.id }}</th>
                    <td>{{ trainee.name }}</td>
                    <td>{{ trainee.firstName }}</td>
                    <td>{{ trainee.gender }}</td>
                    <td>{{ trainee.dateBirth|date('d/m/Y') }}</td>
                    <td>{{ trainee.city }}</td>
                    <td>{{ trainee.email }}</td>
                    <td>{{ trainee.phone }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="" class="btn btn-info">Modifier</a>
                        <a href="" class="btn btn-warning">Supprimer</a>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun stagiaire trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
