{% extends "base.html.twig" %}

{% block title %}Nouveau Stagiaire{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Nouveau Stagiaire</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName) }}
			<div class="form-error">
				{{ form_errors(form.firstName) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.gender) }}
			{{ form_widget(form.gender) }}
			<div class="form-error">
				{{ form_errors(form.gender) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.dateBirth) }}
			{{ form_widget(form.dateBirth) }}
			<div class="form-error">
				{{ form_errors(form.dateBirth) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
			<div class="form-error">
				{{ form_errors(form.city) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
			<div class="form-error">
				{{ form_errors(form.email) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.phone) }}
			{{ form_widget(form.phone) }}
			<div class="form-error">
				{{ form_errors(form.phone) }}
			</div>
		</div>


		<div class="form-group">
			{{ form_row(form._token) }}
		</div>

		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>

	</div>
	{{ form_end(form) }}
</div>{% endblock %}