{% extends 'base.html.twig' %}

{% block title %}Les Formations{% endblock %}

{% block body %}

<h2>Les Formations</h2>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('training.new')}}" class="btn btn-primary">
    Créer une formation
</a>
{% endif %}
    <div class="container mt-4">
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom de la formation</th>
             
              </tr>
            </thead>
            <tbody>
             
                {% for training in trainings %}
                    <tr class="table-primary">
                        {% if is_granted('ROLE_ADMIN') %}
                        <th scope="row">{{training.id}}</th>
                        <td> <a href="{{ path('show.training', {id : training.id}) }}"> {{training.nametraining}}</a></td>
                        <td>
                            <a href="{{ path('edit.training', { id: training.id }) }}" class="btn btn-info">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path('delete.training', { id: training.id }) }}" class="btn btn-warning">Supprimer</a>
                        </td>
                        {% endif %}
                    </tr>
                
              
            
            
            
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

