{% extends 'base.html.twig' %}

{% block title %}Détails d'une formation{% endblock %}


{% block body %}


<a href="{{path('session.new', {'trainingId': training.id}) }}" class="btn btn-primary">
    Créer une session
</a>
    <div class="container">
        <h2>Détails d'une formation</h2>



        <h3>Tous les Sessions de la formation {{training.nameTraining}}</h3><br>

        {% for session in sessions %}
        <td>{{session.training.nameTraining}}</td>
        <td>{{session.startDate|date('d/m/Y')}}</td>
        <td>{{session.endDate|date('d/m/Y')}}</td> <br>
            
        {% endfor %}

       
        
            
    </div>

{% endblock %}